{% extends "base.html" %}


{% block content %}


<div class="row justify-content-center mt-3">
     <div class="col-md-8 col-sm-12">
    <h1 class="border-bottom">Lead Details<a class="float-right text-muted atagimprove" href="{% url "leads:lead-list" %}">Back to leads</a></h1>
  </div>
   <div class="col-md-8 col-sm-12 bg-light p-2">
      <img src="{{ lead.profile_picture.url }}" class="float-right m-0" height="100%" width="40%" alt="...">

      <div class="pl-3">
      <h2 class="mb-4"><small style="font-size:15px;" class="text-muted">LEAD<span class="float-right m-3">Lead Since: {{ lead.date_added|date:"d M Y" }}</span></small><br>{{ lead }}</h2>

      <p>{{ lead.description }}</p>

        <p><strong>First Name:</strong> {{ lead.first_name }} <strong>Last Name:</strong> {{ lead.last_name }} <br>

          <strong>Email:</strong> {{ lead.email }} <br>
          <strong>Contact Number:</strong> {{ lead.phone_number }}<br>
          <strong>Address:</strong> {{ lead.address }} <br>
          <strong>Handled By:</strong> {{ lead.agent }} <br>
        </p>
      </div>

      {% if user.is_organiser %}
      <div class="float-left m-2">
        <a class="btn btn-outline-dark m-1 pl-4 pr-4" href="{% url "leads:lead-update" pk=lead.pk %}">Edit Details</a>
        <a class="btn btn-outline-dark m-1 pl-4 pr-4" href="{% url "leads:lead-delete" pk=lead.pk %}">Dlete Lead</a>
      </div>
      {% endif %}

  </div>
</div>
{% endblock %}
