{% extends "base.html" %}
{% load bootstrap4 %}


{% block content %}
<div class="container bg-light p-4">
  <h1>Are you sure you want to delete the lead?</h1>
  <p style="font-size:20px;"><strong>Please Note: The lead will be erased from the system permanently.</strong> </p>
  <form method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-outline-dark" value="Delete Lead">
      <a class="btn btn-outline-dark" href="{% url "leads:lead-detail" pk=object.pk %}">Cancel</a>
  </form>
</div>
{% endblock %}
